
<a href="@Url.Action("XemCTHD","SanPham")" style="font-weight: bold; text-decoration:none;color:#999999;font:18px Nunito,san-serif">
    Đơn hàng <span class="badge badge-danger">@ViewBag.Tongsoluongdon</span>
</a>
